{{define "form"}}
<!DOCTYPE html>
<html>
  <head>
    <title>WikiRace</title>
    <link rel="stylesheet" href="static/src/wikirace.css" />
  </head>
  <style>
    body {
      background-image: url("static/assets/before.jpg");
      background-size: cover; /* Atur ukuran gambar agar menutupi seluruh latar belakang */
      background-repeat: no-repeat; /* Hindari pengulangan gambar */
    }
  </style>
  <body>
    <div class="container-body">
      <nav class="navbar">
        <div>
          <a href="/">Tubes 2 Stima</a>
        </div>
        <!-- LOGO GUTHUB -->
        <div class="logogithub">
          <a href="https://github.com/EkaaPrawiraa/Tubes2_chicky">
            <img
              src="static/assets/logogithub.png"
              width="35"
              height="35"
              class="gambar-logo-github"
            />
          </a>
        </div>
      </nav>

      <!-- LOGO WIKIRACE -->
      <div class="container-wikirace">
        <img src="static/assets/titlewikirace.png" />

        <!-- FIND THE SHORTEST -->
        <div>
          <h1>Find the shortest path from</h1>
        </div>
      </div>

      <!-- INPUT -->
      <form action="/process" method="post" class="container-form">
        <!-- BUTTON SWITCH -->
        <div class="container-switch">
          <div class="switch">
            <input type="checkbox" id="switcher" name="algo" value="ids" />
            <label for="switcher"></label>
          </div>
        </div>

        <!-- INPUT BOX -->
        <div class="inputsearch">
          <div class="container-input-search-bar">
            <input
              class="input-box"
              type="text"
              id="search-bar-1"
              placeholder="Start page"
              autocomplete="off"
              name="start"
              required
            />
            <div class="autocomplete-list">
              <ul id="autocomplete-list-1"></ul>
            </div>
          </div>
          <button
          type="button"
          class="button-swap"
          name="swap"
            onclick="swapValues()"
          >
            &#8646;
          </button>
          <div class="container-input-search-bar">
            <input
              class="input-box"
              type="text"
              id="search-bar-2"
              placeholder="Target page"
              autocomplete="off"
              name="target"
              required
            />
            <div class="autocomplete-list">
            <ul id="autocomplete-list-2"></ul>
          </div>
          </div>
        </div>

        <!-- BUTTON GO -->
        <div class="container-go-button">
          <button class="go-button" type="submit">GO!</button>
        </div>
      </form>
    <script src="static/src/wikirace.js"></script>
  </body>
</html>
{{end}} {{define "result"}}
<!DOCTYPE html>
<html>
  <head>
    <title>WikiRace</title>
    <link rel="stylesheet" href="static/src/wikirace.css" />
  </head>
  <style>
    body {
      background-image: url("static/assets/after.jpg");
      background-size: cover; /* Atur ukuran gambar agar menutupi seluruh latar belakang */
      background-repeat: no-repeat; /* Hindari pengulangan gambar */
    }
  </style>
  <body>
    <div class="container-result">
      <div class="result">
        <!-- LOGO WIKIRACE -->
        <div class="titlewikirace">
          <img src="static/assets/titlewikirace.png" />
          <h1>Find the shortest paths from</h1>
        </div>

        <!-- FIND THE SHORTEST -->
        <div class="box-solution">
          <div class="answer-list">
            <h1>Rute Terpendek:</h1>
            <ul>
              {{ range .path}}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
          <div class="answer">
            <h1>Jumlah artikel yang dicek:</h1>
            <p>{{.checked}}</p>
          </div>
          <div class="answer">
            <h1>Panjang Rute:</h1>
            <p>{{.solutionLength}}</p>
          </div>
          <div class="answer">
            <h1>Durasi pencarian:</h1>
            <p>{{.duration}}</p>
          </div>
        </div>
        <div class="back">
          <a href="/" class="back"
            ><button class="button-back">Lagi yuk!</button></a
          >
        </div>
      </div>
    </div>
    <script src="static/src/wikirace.js"></script>
  </body>
</html>
{{end}}
