@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap");

.container-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  position: relative;
  width: 90%;
  background-color: lavender; /* Warna latar belakang navbar */
  padding: 10px 20px; /*Padding atas dan bawah 10px, kiri dan kanan 20px */
  display: flex; /* Menggunakan flexbox untuk mengatur tata letak */
  justify-content: space-between; /* Membuat konten di dalam navbar terletak di sebelah kiri dan kanan */
  align-items: center; /* Memusatkan vertikal konten di dalam navbar */
  border-radius: 10px;
  font-family: Lemonada;
  font-size: 1rem;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar .logogithub {
  background-color: gold;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  padding: 0px 2px;
}

.navbar .logogithub .gambar-logo-github {
  margin: 3px 0px;
  border-radius: 100%;
  /* background-color: white; */
}

.container-wikirace {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  /* background-color: gold; */
}

.container-wikirace h1 {
  /* background-color: white; */
  text-align: center;
  color: darkgray;
  height: 3vh;
  font-family: "Arial";
  font-weight: lighter;
}

.container-form {
  /* background-color: blue; */
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.container-form .inputsearch {
  /* background-color: green; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  height: 10%;
  margin-top: 2%;
}

.container-form .inputsearch .container-input-search-bar {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}
.container-form .inputsearch .container-input-search-bar .autocomplete-list {
  background-color: darkseagreen;
  width: 100%;
  border: 2px solid white;
  margin-top: 10px;
  border-radius: 5px;
}

.container-form .inputsearch .container-input-search-bar ul {
  /* background-color: blue; */
  width: 100%;
  /* margin-top: 10px; */
  margin: 0;
  padding: 0;
}
.container-form .inputsearch .container-input-search-bar li:hover {
  background-color: darkgray;
  text-align: center;
  text-decoration: none;
}

.container-form .inputsearch .container-input-search-bar li {
  list-style: none;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: white;
  /* border: 1px solid rgba(0, 0, 255, 0.5); */
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);

  /* margin: 10px; */
  /* background-color: gold; */
  /* padding: 0 100px; */
}

.container-form .inputsearch .container-input-search-bar .input-box {
  background-color: darkslategray;
  width: 100%;
  border: 2px solid #ccc;
  outline: none;
  color: white;
  /* background: transparent; */
  display: inline-block;
  align-items: center;
  border-radius: 5px;
  padding: 10px 0px;
  font-size: 16px;
  text-align: center;
  /* margin-bottom: 10px; */
}

.container-form
  .inputsearch
  .container-input-search-bar
  input[type="text"]:focus {
  outline: none; /* Menghilangkan outline saat input dalam mode focus */
}

.container-form .inputsearch .button-swap {
  font-size: 22px;
  width: 9%;
  padding: 5px 0px;
  border-radius: 20px;
  border: 2px solid #ccc;
}

.container-form .inputsearch .button-swap:hover {
  border: 2px solid #ccc;
  background-color: darkslategray;
  color: white;
}

.container-form .container-switch {
  display: flex;
  justify-content: center;
  /* background-color: white; */
}

.switch {
  margin: 1% 0;
  position: relative;
  width: 200px;
  height: 50px;
}

.switch input {
  appearance: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: 1.5px solid #ccc;
  background-color: darkslategray;
  outline: none;
}

.switch input::before,
.switch input::after {
  z-index: 2;
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  font-weight: bolder;
}

.switch input::before {
  content: "IDS";
  left: 20px;
  position: center;
}

.switch input::after {
  content: "BFS";
  right: 20px;
}

.switch input:checked {
  background-color: darkslategray;
}

.switch input:not(:checked) {
  background-color: darkslategray;
}

.switch label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 4px;
  border-radius: 20px;
}

.switch input {
  transition: 0.25s;
}

.switch input:checked::after {
  color: white;
  transition: color 0.5s;
}
.switch input:checked::before {
  color: darkslategray;
  transition: color 0.5s;
}

.switch input:checked + label {
  left: 10px;
  right: 100px;
  background-color: lavender;
  transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked) {
  background-color: darkslategray;
  transition: background 0.4s;
}

.switch input:not(:checked)::before {
  color: white;
  transition: color 0.5s;
}

.switch input:not(:checked)::after {
  color: darkslategray;
  transition: color 0.5s 0.2s;
}

.switch input(:checked)::after {
  color: darkslategray;
  transition: color 0.5s 0.2s;
}

.switch input:not(:checked) + label {
  left: 100px;
  right: 10px;
  background: lavender;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}

.container-form .container-go-button {
  display: flex;
  justify-content: center;
  /* background-color: lavender; */
  margin: 1% 0;
}
.go-button {
  font-size: 20px;
  background-color: gold;
  border-radius: 50px;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  background-image: linear-gradient(to bottom, #f7df89, #d5a900);
  font-weight: bolder;
}

.go-button:hover {
  transform: translateY(-2px);
}

.ids {
  margin-top: 7vh;
  color: white;
  height: 3vh;
  font-family: "Arial";
  font-weight: lighter;
}

.bfs {
  color: white;
  height: 3vh;
  font-family: "Arial";
  font-weight: lighter;
}

.box-solution {
  color: white;
}

/* result */

.container-result {
  /* background-color: white; */
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;
}

.container-result .result {
  display: grid;
  /* background-color: blue; */
  grid-column: 2 / span 1;
  grid-template-row: 50% 50%;
}

.container-result .result .titlewikirace {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  grid-row: 1 / span 1;
}
.container-result .result .titlewikirace h1 {
  text-align: center;
  color: darkgray;
  height: 3vh;
  font-family: "Arial";
  font-weight: lighter;
}

.container-result .result .box-solution {
  /* background-color: gold; */
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  padding: 10px 200px;
  /* border: 2px solid darkgray;  */
  /* border-radius: 10px; */
}

.container-result .result .box-solution .answer-list {
  position: relative;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  margin: 0px 5%;
  border: 2px solid darkgray;
  padding: 0px 2px;
  overflow-y: auto;
  /* border-radius: 10px */
}
.container-result .result .box-solution .answer-list h1 {
  margin-left: 5%;
  margin-bottom: -2px;
  margin-top: -1px;
}

.container-result .result .box-solution .answer-list ul {
  margin-left: 5%;
}

.container-result .result .box-solution .answer {
  /* background-color: darkgray; */
  /* border-radius: 10px; */
  border: 2px solid darkgray;
  padding: 2px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5%;
}

.container-result .result .box-solution .answer h1 {
  font-size: 20px;
  margin-left: 5%;
}

.container-result .result .box-solution .answer p {
  font-size: 16px;
  margin-right: 5%;
}

.container-result .back {
  /* background-color: black; */
  text-decoration: none;
  margin: 10px 10px;
  display: flex;
  justify-content: flex-end;
}

.container-result .back .button-back {
  background-color: gold;
  border-radius: 10px;
  border: 2px solid moccasin;
}

.container-result .back .button-back:hover {
  background-color: chartreuse;
  border-radius: 10px;
  border: 2px solid gold;
}
