body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.h1 {
  color: darkgray;
  height: 3vh;
  font-family: "Arial";
  font-weight: lighter;
}

.logogithub {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36;
  height: 36;
  z-index: 9999;
  background: white;
  border-radius: 100%;
}

.gambar-logo-github {
  position: absolute;
  border-radius: 90%;
  margin-left: 0.9;
}

.inputsearch {
  position: relative;
  display: inline-block;
  color: white;
  height: 7vh;
}

.inputsearch input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  color: white;
}

#search-bar-1 {
  width: 100%;
  max-width: 200px;
  background: transparent;
  display: inline-block;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
}

#search-bar-2 {
  width: 100%;
  max-width: 200px;
  background: transparent;
  display: inline-block;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
}

.result-search ul {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: black;
}

.result-search ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result-search ul li:hover {
  background: white;
  color: black;
  border-radius: 10px;
}

.result-search {
  max-height: 300px;
  overflow-y: scroll;
  position: relative;
  z-index: 999;
  font-family: "Arial";
}
.container-go-button {
  margin-top: 20px;
  margin-bottom: 10px;
}
.go-button {
  font-size: 20px;
  background-color: gold;
  border-radius: 50px;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  background-image: linear-gradient(to bottom, #f7df89, #d5a900);
  font-weight: bolder;
}

.go-button:hover {
  transform: translateY(-2px);
}

.switch {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

.switch input {
  appearance: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #f7df89, #d5a900);
  outline: none;
}

.switch input::before,
.switch input::after {
  z-index: 2;
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  font-weight: bolder;
}

.switch input::before {
  content: "IDS";
  left: 20px;
  position: center;
}

.switch input::after {
  content: "BFS";
  right: 20px;
}

.switch input:checked {
  background-image: linear-gradient(to bottom, #f7df89, #d5a900);
}

.switch label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 4px;
  border-radius: 20px;
}

.switch input {
  transition: 0.25s;
}

.switch input:checked::after,
.switch input:checked::before {
  color: white;
  transition: color 0.5s;
}

.switch input:checked + label {
  left: 10px;
  right: 100px;
  background: black;
  transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked) {
  background-image: linear-gradient(to bottom, #f7df89, #d5a900);
  transition: background 0.4s;
}

.switch input:not(:checked)::before {
  color: white;
  transition: color 0.5s;
}

.switch input:not(:checked)::after {
  color: white;
  transition: color 0.5s 0.2s;
}

.switch input:not(:checked) + label {
  left: 100px;
  right: 10px;
  background: black;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}

.ids {
  margin-top: 7vh;
  color: white;
  height: 3vh;
  font-family: "Arial";
  font-weight: lighter;
}

.bfs {
  color: white;
  height: 3vh;
  font-family: "Arial";
  font-weight: lighter;
}
